.admin{
  margin:0;
  .nav{
    background: var(--color4);
    height: 100%;
    padding-right:0px;
    box-shadow: inset 1px 0px 15px -4px black;
    .logo{
      width:500px;
    }
    a{
      padding: 0 0 0 1.5rem;
      color: var(--color2);
      text-shadow: 1px 0px 1px black;
      display: inline-block;
    }
  }
  .content{
  }
}